/*
// @mixin bp($point) {
//   $bp-xsmall: '(min-width: 320px)';
//   $bp-teeny: '(min-width: 480px)';
//   $bp-tiny: '(min-width: 600px)';
//   $bp-small: '(min-width: 650px)';
//   $bp-medium: '(min-width: 800px)';
//   $bp-big: '(min-width: 1000px)';

//   @if $point == big {
//     @media #{$bp-big} {
//       @content;
//     }
//   } @else if $point == medium {
//     @media #{$bp-medium} {
//       @content;
//     }
//   } @else if $point == small {
//     @media #{$bp-small} {
//       @content;
//     }
//   } @else if $point == tiny {
//     @media #{$bp-tiny} {
//       @content;
//     }
//   } @else if $point == teeny {
//     @media #{$bp-teeny} {
//       @content;
//     }
//   } @else if $point == xsmall {
//     @media #{$bp-xsmall} {
//       @content;
//     }
//   }
// }*/

*::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: #6e6e6e;
  outline: 1px solid #444;
}

body,
.application {
  font-family: 'OpenSans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 900px;
}

.cognition {
  background: #736fff !important;
}
.communication {
  background: #0f4d7b !important;
}
.speech {
  background: #17d6bc !important;
}
.learning {
  background: #122544 !important;
}

.cognition-border {
  border-color: #736fff !important;
}
.communication-border {
  border-color: #0f4d7b !important;
}
.speech-border {
  border-color: #17d6bc !important;
}
.learning-border {
  border-color: #122544 !important;
}

.swiper-container {
  /*height: 205px;*/
  width: 100%;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  min-height: 900px;
}
/*
.hero {
  min-height:600px;
  height:auto;
}*/

@media only screen and (max-width: 600px) {
  /* .hero {
  //   min-height: 400px;
  //   height:auto;
  // }*/
}

.articulation-item:after {
  content: ' ';
  position: absolute;
  border-top: 42px solid #fff;
  top: 0;
  left: 0;
  right: auto;
  border-right: 42px solid transparent;
}

.play-pulse {
  border-radius: 160px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 3px solid hsla(0, 0%, 100%, 0);
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 3.2s;
  animation-duration: 3.2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    border-color: hsla(0, 0%, 100%, 0.55);
  }
  to {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    border-color: hsla(0, 0%, 100%, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    border-color: hsla(0, 0%, 100%, 0.55);
  }
  to {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    border-color: hsla(0, 0%, 100%, 0);
  }
}

.card-preview:hover .play {
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}


.v-content__wrap { min-height:700px;}