body,
.application {
  font-family: 'OpenSans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cognition {
  background: #736fff!important;
}
.communication {
  background: #0f4d7b!important;
}
.speech {
  background: #17d6bc!important;
}
.learning {
  background: #122544!important;
}


.swiper-container {
  height: 205px;
  width: 100%;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  min-height: 900px;
}
/*
.hero {
  min-height:600px;
  height:auto;
}*/

@media only screen and (max-width: 600px) {
  /* .hero {
  //   min-height: 400px;
  //   height:auto;
  // }*/
}


.bk-xs { border:1px solid green; }
.bk-sm { border:1px solid blue; }
.bk-md { border:1px solid red; }
.bk-lg { border:1px solid pink; }
.bk-xl { border:1px solid orange; }