You told us you forgot your password. 
If you really did, click here to choose a new one:
<br><br>
<a href="{{{tokenUrl}}}">choose a new password</a>
<br>
<br> or verify using this link:
<br> {{tokenUrl}}
<br><br> If you didn't mean to reset your password, then you can just ignore this email; your password will not change.
<br><br> Sincerely,
<br> {{app}} Registrar