.ex-activity-details-component{
  .ex-back-arrow-icon{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url(../public/img/icons/arrow-down.png);
    -webkit-background-size: contain;
    background-size: contain;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .ex-share-icon{
    width: 15px;
    height: 15px;
    display: inline-block;
    background-image: url(../public/img/icons/share.png);
    -webkit-background-size: contain;
    background-size: contain;
  }
  .ex-pin-icon{
    width: 15px;
    height: 15px;
    display: inline-block;
    background-image: url(../public/img/icons/pin.png);
    -webkit-background-size: contain;
    background-size: contain;
  }
  .ex-activity-main-details{
    @media screen and (max-width: 800px) and (min-width: 600px) {
      flex-direction: column;
      .ex-fixed-image-scope{
        flex: initial!important;
        margin-bottom: 15px;
        margin-right: 0!important;
      }
    }
    .ex-fixed-image-scope{
      flex: 0 0 400px;
      .ex-cover-image-wrapper{
        height: 250px;
        img{
          object-fit: cover;
        }
      }
    }
    .ex-main-info-wrapper{
      height: 100%;
      .ex-slides{
        width: 20px;
        height: 20px;
        display: inline-block;
        background-image: url(../public/img/icons/slides.png);
        -webkit-background-size: contain;
        background-size: contain;
      }
      .ex-play-video{
        width: 20px;
        height: 20px;
        display: inline-block;
        background-image: url(../public/img/icons/videoPlay.png);
        -webkit-background-size: contain;
        background-size: contain;
      }
      .ex-landscape{
        width: 20px;
        height: 20px;
        display: inline-block;
        background-image: url(../public/img/icons/landscape.png);
        -webkit-background-size: contain;
        background-size: contain;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }
  }
  .ex-session-info{
    text-align: center;
    h5{
      font-weight: 400;
    }
    .btn-toggle{
      button{
        text-transform: unset;
        height: initial;
        padding-left: 45px!important;
        padding-right: 45px!important;
        @media (max-width: 600px) {
          padding-left: 25px!important;
          padding-right: 25px!important;
        }
        .btn__content{
          flex-direction: column;
          font-size: 12px;
          p{
            font-size: 14px;
          }
        }
      }
    }
  }
}

.ex-social-menu{
  a.list__tile{
    i{
      width: 30px;
      font-size: 20px;
      align-self: center;
    }
  }
}