
@import "themify.scss";

.ex-rtl{
  direction: rtl;
}
html{
  overflow-y: auto;
}
.ex-mt-auto{
  margin-top: auto;
}

.ex-dir-row-reverse{
  flex-direction: row-reverse!important;
}

.hidden{
  opacity: 0;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 400;
}

/*#region page transition*/
.page-enter-active, .page-leave-active {
  transition: opacity 0.5s, transform 1s;
}
.page-enter, .page-leave-to {
  opacity: 0;
  //transform: translateY(-30%);
}

/*#endregion page transition*/rtl

/*#region scroll bars*/
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #e1e1e1;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


/*#Start: Activities menu*/
.ex-header-menu{
  display: flex;
  top: 40px !important;
  position: fixed;
  .activitiesList .list__tile{
    height: 24px;
    font-size: 14px;
  }
}
/*#End: Activities menu*/

/*#endregion scroll bars*/

.imgColor img{
  background-color: #000000!important;
}
.vjs-custom-box{
  height:100%;
  width:100%;
  div{
    height:100%;
    width:100%;
  }
  .vjs-control-bar{
    display: none;
  }
  .vjs-paused.vjs-has-started .vjs-big-play-button {
    display: block;
  }
  .vjs-loading-spinner{
    width: 35px;
    height: 35px;
    border: 3px solid rgba(43, 51, 63, 0);
  }



}
.close_rotation_issue .btn__content{
  padding: 0;
}

// Zoom Activity

.ex-zoom-activity {
  @keyframes shapeTransition {
    from {
      transform: scale(0.2);
    }
    to {
      transform: scale(1);
    }
  }
  .shape {
    animation-duration: 1s;
    animation-name: shapeTransition;

  }

  @keyframes fullImageTransition {
    from {
      transform: scale(0.2);
    }
    to {
      transform: scale(1);
    }
  }
  .rect {
    animation-duration: 2s;
    animation-name: fullImageTransition;
    transform-origin: 0px 0px;
  }
}


// Memory Activity

#memoryContainer .close_rotation_issue{
  position: absolute !important;
  min-width: 36px; left: 5px; top: 5px;
  background: #595959!important;
  border-radius: 50%;
}
